.main {
  height: 100%;
  padding: 12px;
  background-color: var(--s-color-bg-dark-3);
}

.showcases {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

:global(.showcase) {
  align-self: center;
  justify-self: center;
}
