*:where(:not(html, iframe, canvas, img, svg, video, audio, svg *, symbol *)) {
  all: unset;
  display: revert;
}
*, 
*::before, 
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}
a, 
button {
  cursor: revert;
}
ol, 
ul, 
menu, 
summary {
  list-style: none;
}
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}
table {
  border-collapse: collapse;
}
input, 
textarea {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
textarea {
  white-space: revert;
}
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
  -ms-appearance: revert;
  appearance: revert;
}
:where(pre) {
  all: revert;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: unset;
}
:-moz-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}
:where([hidden]) {
  display: none;
}
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-break: after-white-space;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
:where([draggable=true]) {
  -webkit-user-drag: element;
}
:where(dialog:modal) {
  all: revert;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
pre {
  margin: unset;
}
body {
  font-weight: normal;
  font-size: var(--s-font-size-normal);
  font-family: JetBrainsMono, "Microsoft YaHei", "PingFang SC";
}
html {
  font-size: 75pt;
}
::-webkit-scrollbar {
  width: 0.1rem;
  height: 0.1rem;
}
::-webkit-scrollbar-track {
  background-color: var(--s-color-bg-dark-1);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0.05rem;
  -moz-border-radius: 0.05rem;
  border-radius: 0.05rem;
  background-color: var(--s-color-text-light-2);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--s-color-bg-dark-5);
}
.o-btn {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  --s-color-bg-light-1: #ffffff;
  --s-color-bg-dark-1: #2c303b;
  --s-color-bg-dark-2: #1e1e26;
  --s-color-bg-dark-3: #131418;
  --s-color-bg-dark-4: #010101;
  --s-color-bg-dark-5: #74829a;
  --s-color-text-light-1: #ffffff;
  --s-color-text-light-2: #c7c9d3;
  --s-color-text-dark: #000000;
}
html {
  --s-font-size-large: 0.45rem;
  --s-font-size-middle: 0.27rem;
  --s-font-size-normal: 0.16rem;
  --s-font-size-small: 0.14rem;
  --s-font-size-tiny: 0.12rem;
}
@font-face{
  font-weight: normal;
  font-style: normal;
  font-family: JetBrainsMono;
  src: url("/JetBrainsMono-Regular.a9cb1cd8-9bdcf2.woff2") format("woff2");
}
@font-face{
  font-weight: bold;
  font-style: normal;
  font-family: JetBrainsMono;
  src: url("/JetBrainsMono-Bold.c503cc5e-8c856e.woff2") format("woff2");
}
@font-face{
  font-weight: bold;
  font-style: italic;
  font-family: JetBrainsMono;
  src: url("/JetBrainsMono-BoldItalic.3a013466-65790d.woff2") format("woff2");
}
.icon-63d13a8c {
  vertical-align: -0.15em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  fill: currentcolor;
}
.layout-4122cc82 {
  display: grid;
  grid-template-areas: "nav main" "nav footer";
  grid-template-rows: 1fr 1rem;
  grid-template-columns: 1.8rem 1fr;
  overflow: hidden;
  min-height: max(100vh, 8.4rem);
}
.layout--nav-collapsed-4122cc82 {
  grid-template-columns: 0.16rem 1fr;
}
.main-4122cc82 {
  grid-area: main;
}
.footer-4122cc82 {
  grid-area: footer;
}
.nav-4122cc82 {
  position: relative;
  grid-area: nav;
}
@-webkit-keyframes dyn-bg-4122cc82 {
  100% {
    -webkit-transform: translateY(-0.17rem);
    transform: translateY(-0.17rem);
  }
}
@-moz-keyframes dyn-bg-4122cc82 {
  100% {
    -moz-transform: translateY(-0.17rem);
    transform: translateY(-0.17rem);
  }
}
@-o-keyframes dyn-bg-4122cc82 {
  100% {
    -o-transform: translateY(-0.17rem);
    transform: translateY(-0.17rem);
  }
}
@keyframes dyn-bg-4122cc82 {
  100% {
    -webkit-transform: translateY(-0.17rem);
    -moz-transform: translateY(-0.17rem);
    -o-transform: translateY(-0.17rem);
    transform: translateY(-0.17rem);
  }
}
.nav-collapsed-4122cc82 {
  background-image: -webkit-repeating-linear-gradient(45deg, var(--s-color-bg-dark-1), var(--s-color-bg-dark-1) 0.02rem, var(--s-color-bg-dark-3) 0, var(--s-color-bg-dark-3) 0.04rem);
  background-image: -moz-repeating-linear-gradient(45deg, var(--s-color-bg-dark-1), var(--s-color-bg-dark-1) 0.02rem, var(--s-color-bg-dark-3) 0, var(--s-color-bg-dark-3) 0.04rem);
  background-image: -o-repeating-linear-gradient(45deg, var(--s-color-bg-dark-1), var(--s-color-bg-dark-1) 0.02rem, var(--s-color-bg-dark-3) 0, var(--s-color-bg-dark-3) 0.04rem);
  background-image: repeating-linear-gradient(45deg, var(--s-color-bg-dark-1), var(--s-color-bg-dark-1) 0.02rem, var(--s-color-bg-dark-3) 0, var(--s-color-bg-dark-3) 0.04rem);
  cursor: pointer;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}
.nav-collapsed-4122cc82:hover {
  height: -webkit-calc(100% + 0.17rem);
  height: -moz-calc(100% + 0.17rem);
  height: calc(100% + 0.17rem);
  opacity: 0.8;
  -webkit-animation: dyn-bg-4122cc82 0.6s infinite linear;
  -moz-animation: dyn-bg-4122cc82 0.6s infinite linear;
  -o-animation: dyn-bg-4122cc82 0.6s infinite linear;
  animation: dyn-bg-4122cc82 0.6s infinite linear;
}
.collapse-btn-4122cc82 {
  position: absolute;
  top: 5%;
  right: -0.3rem;
  width: 0.3rem;
  height: 0.3rem;
  -webkit-border-radius: 0.04rem;
  -moz-border-radius: 0.04rem;
  border-radius: 0.04rem;
  background-color: var(--s-color-bg-dark-1);
  font-size: 0.2rem;
  line-height: 0.3rem;
  text-align: center;
  visibility: hidden;
  cursor: pointer;
  -webkit-transition: visibility 0.6s ease;
  -moz-transition: visibility 0.6s ease;
  -o-transition: visibility 0.6s ease;
  transition: visibility 0.6s ease;
}
.collapse-btn-4122cc82:hover {
  opacity: 0.8;
}
.nav-4122cc82:hover .collapse-btn-4122cc82 {
  visibility: visible;
}
.footer-adf5cea1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.08rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--s-color-bg-dark-4);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.text-adf5cea1 {
  color: var(--s-color-text-light-2);
  font-size: var(--s-font-size-tiny);
}
@-webkit-keyframes bg-wave-flow-adf5cea1 {
  from {
    background-position-x: -0.1rem, 0;
  }
  to {
    background-position-x: -0.3rem, -0.2rem;
  }
}
@-moz-keyframes bg-wave-flow-adf5cea1 {
  from {
    background-position-x: -0.1rem, 0;
  }
  to {
    background-position-x: -0.3rem, -0.2rem;
  }
}
@-o-keyframes bg-wave-flow-adf5cea1 {
  from {
    background-position-x: -0.1rem, 0;
  }
  to {
    background-position-x: -0.3rem, -0.2rem;
  }
}
@keyframes bg-wave-flow-adf5cea1 {
  from {
    background-position-x: -0.1rem, 0;
  }
  to {
    background-position-x: -0.3rem, -0.2rem;
  }
}
.link-adf5cea1 {
  display: inline-block;
  background: -webkit-radial-gradient(0.1rem -0.07rem, circle, transparent 0.08rem, currentcolor 0.08rem, currentcolor 0.09rem, transparent 0.09rem) repeat-x, -webkit-radial-gradient(0.1rem 0.27rem, circle, transparent 0.08rem, currentcolor 0.08rem, currentcolor 0.09rem, transparent 0.09rem) repeat-x;
  background: -moz-radial-gradient(0.1rem -0.07rem, circle, transparent 0.08rem, currentcolor 0.08rem, currentcolor 0.09rem, transparent 0.09rem) repeat-x, -moz-radial-gradient(0.1rem 0.27rem, circle, transparent 0.08rem, currentcolor 0.08rem, currentcolor 0.09rem, transparent 0.09rem) repeat-x;
  background: -o-radial-gradient(0.1rem -0.07rem, circle, transparent 0.08rem, currentcolor 0.08rem, currentcolor 0.09rem, transparent 0.09rem) repeat-x, -o-radial-gradient(0.1rem 0.27rem, circle, transparent 0.08rem, currentcolor 0.08rem, currentcolor 0.09rem, transparent 0.09rem) repeat-x;
  background: radial-gradient(circle at 0.1rem -0.07rem, transparent 0.08rem, currentcolor 0.08rem, currentcolor 0.09rem, transparent 0.09rem) repeat-x, radial-gradient(circle at 0.1rem 0.27rem, transparent 0.08rem, currentcolor 0.08rem, currentcolor 0.09rem, transparent 0.09rem) repeat-x;
  background-position: -0.1rem -webkit-calc(100% + 0.16rem), 0 -webkit-calc(100% - 0.04rem);
  background-position: -0.1rem -moz-calc(100% + 0.16rem), 0 -moz-calc(100% - 0.04rem);
  background-position: -0.1rem calc(100% + 0.16rem), 0 calc(100% - 0.04rem);
  -webkit-background-size: 0.2rem 0.2rem;
  -moz-background-size: 0.2rem 0.2rem;
  -o-background-size: 0.2rem 0.2rem;
  background-size: 0.2rem 0.2rem;
  line-height: 0.16rem;
  -webkit-animation: bg-wave-flow-adf5cea1 1s infinite linear;
  -moz-animation: bg-wave-flow-adf5cea1 1s infinite linear;
  -o-animation: bg-wave-flow-adf5cea1 1s infinite linear;
  animation: bg-wave-flow-adf5cea1 1s infinite linear;
}
.nav-52cf36f0 {
  height: 100%;
  background: var(--s-color-bg-dark-2);
}
.title-52cf36f0 {
  padding-block: 0.2rem;
  background: -webkit-linear-gradient(45deg, #00f260 0%, #0575e6 100%);
  background: -moz-linear-gradient(45deg, #00f260 0%, #0575e6 100%);
  background: -o-linear-gradient(45deg, #00f260 0%, #0575e6 100%);
  background: linear-gradient(45deg, #00f260 0%, #0575e6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: var(--s-font-size-middle);
  text-align: center;
}
@property --color-stop1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #40e0d0;
}
@property --color-stop2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ff8c00;
}
@property --color-stop3 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ff0080;
}
@-webkit-keyframes change-color-52cf36f0 {
  0% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
  33% {
    --color-stop1: #ff0080;
    --color-stop2: #40e0d0;
    --color-stop3: #ff8c00;
  }
  66% {
    --color-stop1: #ff8c00;
    --color-stop2: #ff0080;
    --color-stop3: #40e0d0;
  }
  100% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
}
@-moz-keyframes change-color-52cf36f0 {
  0% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
  33% {
    --color-stop1: #ff0080;
    --color-stop2: #40e0d0;
    --color-stop3: #ff8c00;
  }
  66% {
    --color-stop1: #ff8c00;
    --color-stop2: #ff0080;
    --color-stop3: #40e0d0;
  }
  100% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
}
@-o-keyframes change-color-52cf36f0 {
  0% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
  33% {
    --color-stop1: #ff0080;
    --color-stop2: #40e0d0;
    --color-stop3: #ff8c00;
  }
  66% {
    --color-stop1: #ff8c00;
    --color-stop2: #ff0080;
    --color-stop3: #40e0d0;
  }
  100% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
}
@keyframes change-color-52cf36f0 {
  0% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
  33% {
    --color-stop1: #ff0080;
    --color-stop2: #40e0d0;
    --color-stop3: #ff8c00;
  }
  66% {
    --color-stop1: #ff8c00;
    --color-stop2: #ff0080;
    --color-stop3: #40e0d0;
  }
  100% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
}
.slogan-52cf36f0 {
  width: 1.4rem;
  height: 0.5rem;
  margin-inline: auto;
  -webkit-border-radius: 0.04rem;
  -moz-border-radius: 0.04rem;
  border-radius: 0.04rem;
  font-size: var(--s-font-size-small);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@supports (--css: variable) {
  .slogan-52cf36f0 {
    background-image: -webkit-radial-gradient(50% 50%, circle, var(--color-stop1) 0%, var(--color-stop2) 50%, var(--color-stop3) 100%), -webkit-linear-gradient(left, var(--color-stop1) 0%, var(--color-stop2) 50%, var(--color-stop3) 100%);
    background-image: -moz-radial-gradient(50% 50%, circle, var(--color-stop1) 0%, var(--color-stop2) 50%, var(--color-stop3) 100%), -moz-linear-gradient(left, var(--color-stop1) 0%, var(--color-stop2) 50%, var(--color-stop3) 100%);
    background-image: -o-radial-gradient(50% 50%, circle, var(--color-stop1) 0%, var(--color-stop2) 50%, var(--color-stop3) 100%), -o-linear-gradient(left, var(--color-stop1) 0%, var(--color-stop2) 50%, var(--color-stop3) 100%);
    background-image: radial-gradient(circle at 50% 50%, var(--color-stop1) 0%, var(--color-stop2) 50%, var(--color-stop3) 100%), linear-gradient(90deg, var(--color-stop1) 0%, var(--color-stop2) 50%, var(--color-stop3) 100%);
    -webkit-animation: change-color-52cf36f0 4s linear infinite;
    -moz-animation: change-color-52cf36f0 4s linear infinite;
    -o-animation: change-color-52cf36f0 4s linear infinite;
    animation: change-color-52cf36f0 4s linear infinite;
  }
}
@supports not (--css: variable) {
  .slogan-52cf36f0 {
    background-image: -webkit-linear-gradient(left, #40e0d0 0%, #ff8c00 50%, #ff0080 100%);
    background-image: -moz-linear-gradient(left, #40e0d0 0%, #ff8c00 50%, #ff0080 100%);
    background-image: -o-linear-gradient(left, #40e0d0 0%, #ff8c00 50%, #ff0080 100%);
    background-image: linear-gradient(90deg, #40e0d0 0%, #ff8c00 50%, #ff0080 100%);
  }
}
.slogan__inner-52cf36f0 {
  display: inline-block;
  width: -webkit-calc(100% - 0.06rem);
  width: -moz-calc(100% - 0.06rem);
  width: calc(100% - 0.06rem);
  height: -webkit-calc(100% - 0.06rem);
  height: -moz-calc(100% - 0.06rem);
  height: calc(100% - 0.06rem);
  margin: 0.03rem;
  background-color: var(--s-color-bg-dark-4);
  color: var(--s-color-text-light-1);
  line-height: 0.46rem;
  text-align: center;
}
.entries-52cf36f0 {
  margin-top: 0.2rem;
}
.entry-52cf36f0 {
  height: 0.36rem;
  padding-inline: 0.2rem;
  color: var(--s-color-text-light-1);
  line-height: 0.36rem;
}
.entry-52cf36f0:hover {
  background-color: var(--s-color-bg-dark-3);
}
.input-8e0b9421 {
  padding: 0.08rem 0.2rem;
  -webkit-border-radius: 0.04rem;
  -moz-border-radius: 0.04rem;
  border-radius: 0.04rem;
  background-color: var(--s-color-bg-dark-1);
}
.input__inner-8e0b9421 {
  width: -webkit-calc(100% - 0.4rem);
  width: -moz-calc(100% - 0.4rem);
  width: calc(100% - 0.4rem);
  color: var(--s-color-text-light-1);
  font-size: var(--s-font-size-small);
}
.input__inner-8e0b9421::-webkit-input-placeholder {
  color: var(--s-color-text-light-2);
}
.input__inner-8e0b9421:-moz-placeholder {
  color: var(--s-color-text-light-2);
}
.input__inner-8e0b9421::-moz-placeholder {
  color: var(--s-color-text-light-2);
}
.input__inner-8e0b9421:-ms-input-placeholder {
  color: var(--s-color-text-light-2);
}
.input__inner-8e0b9421::-ms-input-placeholder {
  color: var(--s-color-text-light-2);
}
.input__inner-8e0b9421::placeholder {
  color: var(--s-color-text-light-2);
}
.input__prefix-8e0b9421 {
  margin-right: 0.1rem;
}
.code-deed1b03 {
  color: var(--s-color-text-light-2);
}
.dialog-4ca616de {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(0.01rem);
  backdrop-filter: blur(0.01rem);
  pointer-events: all;
}
.dialog__inner-4ca616de {
  margin: auto;
}
.frame-8320ce61 {
  display: flow-root;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.tabs-a966ba4c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.02rem;
  -webkit-border-radius: 0.02rem;
  -moz-border-radius: 0.02rem;
  border-radius: 0.02rem;
}
.tab-a966ba4c {
  height: 0.36rem;
  padding-inline: 0.08rem;
  background: var(--s-color-bg-dark-1);
  color: var(--s-color-text-light-1);
  line-height: 0.36rem;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tab-a966ba4c:hover {
  opacity: 0.6;
}
.tab--active-a966ba4c {
  background: var(--s-color-text-light-2);
  color: unset;
}
.showcase-26443954 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 3rem;
  padding: 0.16rem;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  border-radius: 0.08rem;
  background-color: var(--s-color-bg-dark-2);
}
.info-26443954 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.info__left-26443954 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
}
.title-26443954 {
  overflow: hidden;
  color: var(--s-color-text-light-1);
  font-weight: bold;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tags-26443954 {
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: -webkit-linear-gradient(left, #00f260 0%, #40e0d0 100%);
  background: -moz-linear-gradient(left, #00f260 0%, #40e0d0 100%);
  background: -o-linear-gradient(left, #00f260 0%, #40e0d0 100%);
  background: linear-gradient(90deg, #00f260 0%, #40e0d0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: var(--s-font-size-small);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.category-26443954 {
  padding: 0.04rem 0.1rem;
  -webkit-border-radius: 0.04rem;
  -moz-border-radius: 0.04rem;
  border-radius: 0.04rem;
  background: #40e0d0;
  text-align: center;
}
.desc-26443954 {
  overflow: hidden;
  color: var(--s-color-text-light-2);
  font-size: var(--s-font-size-small);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame__wrapper-26443954 {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  margin-bottom: 0.08rem;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  border-radius: 0.08rem;
}
.frame__wrapper-26443954::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 2rem;
  height: 1.5rem;
  background: -webkit-linear-gradient(bottom left, transparent 50%, rgba(0, 0, 0, 0.5) 100%);
  background: -moz-linear-gradient(bottom left, transparent 50%, rgba(0, 0, 0, 0.5) 100%);
  background: -o-linear-gradient(bottom left, transparent 50%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to top right, transparent 50%, rgba(0, 0, 0, 0.5) 100%);
}
.frame__wrapper-26443954:hover::after {
  display: block;
}
.frame__wrapper--disactive-26443954 {
  pointer-events: none;
}
.frame-26443954 {
  min-height: 100%;
  background: var(--s-color-bg-light-1);
}
.frame__btn-26443954 {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  z-index: 10;
  display: none;
  width: 0.28rem;
  height: 0.28rem;
  -webkit-border-radius: 0.06rem;
  -moz-border-radius: 0.06rem;
  border-radius: 0.06rem;
  background: var(--s-color-bg-dark-5);
  font-size: 0.24rem;
  line-height: 0.28rem;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.frame__btn-26443954:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.frame__wrapper-26443954:hover .frame__btn-26443954 {
  display: block;
}
.dialog__body-26443954 .frame-26443954 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
  min-width: 0;
  max-height: 100%;
}
.dialog-26443954 {
  overflow: auto;
}
.dialog-26443954 .dialog__inner {
  width: 12rem;
  max-width: 100%;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  border-radius: 0.08rem;
  background: var(--s-color-bg-dark-1);
}
.dialog__header-26443954 {
  padding: 0.08rem;
}
.dialog__body-26443954 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
}
.tabs-26443954 {
  padding: 0.08rem;
  background: var(--s-color-bg-dark-3);
}
.code__wrapper-26443954 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
  min-width: 0;
  min-height: 100%;
  background: var(--s-color-bg-dark-4);
}
.main-1c51b40e {
  height: 100%;
  padding: 0.12rem;
  background-color: var(--s-color-bg-dark-3);
}
.showcases-1c51b40e {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
  gap: 0.2rem;
  margin: 0.2rem 0;
}
.showcase {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  justify-self: center;
}
@-webkit-keyframes come-out-e1ba72d4 {
  0% {
    top: 0.2rem;
  }
  80% {
    top: 0.2rem;
  }
  100% {
    top: -0.3rem;
  }
}
@-moz-keyframes come-out-e1ba72d4 {
  0% {
    top: 0.2rem;
  }
  80% {
    top: 0.2rem;
  }
  100% {
    top: -0.3rem;
  }
}
@-o-keyframes come-out-e1ba72d4 {
  0% {
    top: 0.2rem;
  }
  80% {
    top: 0.2rem;
  }
  100% {
    top: -0.3rem;
  }
}
@keyframes come-out-e1ba72d4 {
  0% {
    top: 0.2rem;
  }
  80% {
    top: 0.2rem;
  }
  100% {
    top: -0.3rem;
  }
}
.notify__wrapper-e1ba72d4 {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: come-out-e1ba72d4 2s;
  -moz-animation: come-out-e1ba72d4 2s;
  -o-animation: come-out-e1ba72d4 2s;
  animation: come-out-e1ba72d4 2s;
}
.notify-e1ba72d4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 1.6rem;
  max-width: 6rem;
  padding: 0.08rem 0.12rem;
  border: 0.01rem solid;
  -webkit-border-radius: 0.02rem;
  -moz-border-radius: 0.02rem;
  border-radius: 0.02rem;
  text-align: center;
}
.notify--success-e1ba72d4 {
  border-color: #25371c;
  background-color: #1c2518;
  color: #67c23a;
}
.notify--warning-e1ba72d4 {
  border-color: #3e301c;
  background-color: #292218;
  color: #e6a23c;
}
.notify--error-e1ba72d4 {
  border-color: #412626;
  background-color: #2b1d1d;
  color: #f56c6c;
}
.notify--info-e1ba72d4 {
  border-color: #2d2d2f;
  background-color: #202121;
  color: #909399;
}
/*# sourceMappingURL=index_077f.9f7253c4.css.map */