*:where(:not(html, iframe, canvas, img, svg, video, audio, svg *, symbol *)) {
  all: unset;
  display: revert;
}
*, 
*::before, 
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}
a, 
button {
  cursor: revert;
}
ol, 
ul, 
menu, 
summary {
  list-style: none;
}
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}
table {
  border-collapse: collapse;
}
input, 
textarea {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
textarea {
  white-space: revert;
}
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
  -ms-appearance: revert;
  appearance: revert;
}
:where(pre) {
  all: revert;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: unset;
}
:-moz-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}
:where([hidden]) {
  display: none;
}
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-break: after-white-space;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
:where([draggable=true]) {
  -webkit-user-drag: element;
}
:where(dialog:modal) {
  all: revert;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-weight: normal;
  font-size: var(--s-font-size-normal);
  font-family: JetBrainsMono, "Microsoft YaHei", "PingFang SC";
}
html {
  --unit-length: calc(1rem / 14);
  min-width: 146.9387755102vh;
  font-size: 1.4285714286vh;
}
@media (max-height: calc(840 * 1pc / 16)) {
  html {
    min-width: -webkit-calc(1234.2857142857 * 1pc / 16);
    min-width: -moz-calc(1234.2857142857 * 1pc / 16);
    min-width: calc(1234.2857142857 * 1pc / 16);
    font-size: -webkit-calc(12 * 1pc / 16);
    font-size: -moz-calc(12 * 1pc / 16);
    font-size: calc(12 * 1pc / 16);
  }
}
html #app {
  height: 100vh;
}
@media (max-height: calc(840 * 1pc / 16)) {
  html #app {
    height: -webkit-calc(840 * 1pc / 16);
    height: -moz-calc(840 * 1pc / 16);
    height: calc(840 * 1pc / 16);
  }
}
.o-btn {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  --s-color-green: #46cf73;
  --s-color-blue: #76daff;
  --s-color-bg-dark-1: #2c303b;
  --s-color-bg-dark-2: #1e1e26;
  --s-color-bg-dark-3: #131418;
  --s-color-bg-dark-4: #010101;
  --s-color-text-light-1: #ffffff;
  --s-color-text-light-2: #c7c9d3;
  --s-color-text-dark: #000000;
}
html {
  --s-font-size-large: calc(45 * var(--unit-length));
  --s-font-size-middle: calc(27 * var(--unit-length));
  --s-font-size-normal: calc(16 * var(--unit-length));
  --s-font-size-small: calc(14 * var(--unit-length));
  --s-font-size-tiny: calc(10 * var(--unit-length));
}
@font-face{
  font-weight: normal;
  font-style: normal;
  font-family: JetBrainsMono;
  src: url("JetBrainsMono-Regular.a9cb1cd8.woff2") format("woff2");
}
@font-face{
  font-weight: bold;
  font-style: normal;
  font-family: JetBrainsMono;
  src: url("JetBrainsMono-Bold.c503cc5e.woff2") format("woff2");
}
@font-face{
  font-weight: bold;
  font-style: italic;
  font-family: JetBrainsMono;
  src: url("JetBrainsMono-BoldItalic.3a013466.woff2") format("woff2");
}
.layout-891b01ca {
  display: grid;
  grid-template-areas: "nav main" "nav footer";
  grid-template-rows: 1fr -webkit-calc(100 * var(--unit-length));
  grid-template-rows: 1fr -moz-calc(100 * var(--unit-length));
  grid-template-rows: 1fr calc(100 * var(--unit-length));
  grid-template-columns: -webkit-calc(180 * var(--unit-length)) 1fr;
  grid-template-columns: -moz-calc(180 * var(--unit-length)) 1fr;
  grid-template-columns: calc(180 * var(--unit-length)) 1fr;
  height: 100%;
}
.nav-891b01ca {
  grid-area: nav;
}
.main-891b01ca {
  grid-area: main;
}
.footer-891b01ca {
  grid-area: footer;
}
.footer-f568b156 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: -webkit-calc(8 * var(--unit-length));
  gap: -moz-calc(8 * var(--unit-length));
  gap: calc(8 * var(--unit-length));
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--s-color-bg-dark-4);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.text-f568b156 {
  color: var(--s-color-text-light-2);
  font-size: var(--s-font-size-tiny);
}
@-webkit-keyframes bg-wave-flow-f568b156 {
  from {
    background-position-x: -webkit-calc(-10 * var(--unit-length)), 0;
    background-position-x: calc(-10 * var(--unit-length)), 0;
  }
  to {
    background-position-x: -webkit-calc(-30 * var(--unit-length)), -webkit-calc(-20 * var(--unit-length));
    background-position-x: calc(-30 * var(--unit-length)), calc(-20 * var(--unit-length));
  }
}
@-moz-keyframes bg-wave-flow-f568b156 {
  from {
    background-position-x: -moz-calc(-10 * var(--unit-length)), 0;
    background-position-x: calc(-10 * var(--unit-length)), 0;
  }
  to {
    background-position-x: -moz-calc(-30 * var(--unit-length)), -moz-calc(-20 * var(--unit-length));
    background-position-x: calc(-30 * var(--unit-length)), calc(-20 * var(--unit-length));
  }
}
@-o-keyframes bg-wave-flow-f568b156 {
  from {
    background-position-x: calc(-10 * var(--unit-length)), 0;
  }
  to {
    background-position-x: calc(-30 * var(--unit-length)), calc(-20 * var(--unit-length));
  }
}
@keyframes bg-wave-flow-f568b156 {
  from {
    background-position-x: -webkit-calc(-10 * var(--unit-length)), 0;
    background-position-x: -moz-calc(-10 * var(--unit-length)), 0;
    background-position-x: calc(-10 * var(--unit-length)), 0;
  }
  to {
    background-position-x: -webkit-calc(-30 * var(--unit-length)), -webkit-calc(-20 * var(--unit-length));
    background-position-x: -moz-calc(-30 * var(--unit-length)), -moz-calc(-20 * var(--unit-length));
    background-position-x: calc(-30 * var(--unit-length)), calc(-20 * var(--unit-length));
  }
}
.link-f568b156 {
  display: inline-block;
  background: -webkit-radial-gradient(-webkit-calc(10 * var(--unit-length)) -webkit-calc(-7 * var(--unit-length)), circle, transparent -webkit-calc(8 * var(--unit-length)), currentcolor -webkit-calc(8 * var(--unit-length)), currentcolor -webkit-calc(9 * var(--unit-length)), transparent -webkit-calc(9 * var(--unit-length))) repeat-x, -webkit-radial-gradient(-webkit-calc(10 * var(--unit-length)) -webkit-calc(27 * var(--unit-length)), circle, transparent -webkit-calc(8 * var(--unit-length)), currentcolor -webkit-calc(8 * var(--unit-length)), currentcolor -webkit-calc(9 * var(--unit-length)), transparent -webkit-calc(9 * var(--unit-length))) repeat-x;
  background: -moz-radial-gradient(-moz-calc(10 * var(--unit-length)) -moz-calc(-7 * var(--unit-length)), circle, transparent -moz-calc(8 * var(--unit-length)), currentcolor -moz-calc(8 * var(--unit-length)), currentcolor -moz-calc(9 * var(--unit-length)), transparent -moz-calc(9 * var(--unit-length))) repeat-x, -moz-radial-gradient(-moz-calc(10 * var(--unit-length)) -moz-calc(27 * var(--unit-length)), circle, transparent -moz-calc(8 * var(--unit-length)), currentcolor -moz-calc(8 * var(--unit-length)), currentcolor -moz-calc(9 * var(--unit-length)), transparent -moz-calc(9 * var(--unit-length))) repeat-x;
  background: -o-radial-gradient(calc(10 * var(--unit-length)) calc(-7 * var(--unit-length)), circle, transparent calc(8 * var(--unit-length)), currentcolor calc(8 * var(--unit-length)), currentcolor calc(9 * var(--unit-length)), transparent calc(9 * var(--unit-length))) repeat-x, -o-radial-gradient(calc(10 * var(--unit-length)) calc(27 * var(--unit-length)), circle, transparent calc(8 * var(--unit-length)), currentcolor calc(8 * var(--unit-length)), currentcolor calc(9 * var(--unit-length)), transparent calc(9 * var(--unit-length))) repeat-x;
  background: radial-gradient(circle at calc(10 * var(--unit-length)) calc(-7 * var(--unit-length)), transparent calc(8 * var(--unit-length)), currentcolor calc(8 * var(--unit-length)), currentcolor calc(9 * var(--unit-length)), transparent calc(9 * var(--unit-length))) repeat-x, radial-gradient(circle at calc(10 * var(--unit-length)) calc(27 * var(--unit-length)), transparent calc(8 * var(--unit-length)), currentcolor calc(8 * var(--unit-length)), currentcolor calc(9 * var(--unit-length)), transparent calc(9 * var(--unit-length))) repeat-x;
  background-position: -webkit-calc(-10 * var(--unit-length)) -webkit-calc(100% + (16 * var(--unit-length))), 0 -webkit-calc(100% - (4 * var(--unit-length)));
  background-position: -moz-calc(-10 * var(--unit-length)) -moz-calc(100% + (16 * var(--unit-length))), 0 -moz-calc(100% - (4 * var(--unit-length)));
  background-position: calc(-10 * var(--unit-length)) calc(100% + (16 * var(--unit-length))), 0 calc(100% - (4 * var(--unit-length)));
  background-position: calc(-10 * var(--unit-length)) calc(100% + calc(16 * var(--unit-length))), 0 calc(100% - calc(4 * var(--unit-length)));
  -webkit-background-size: -webkit-calc(20 * var(--unit-length)) -webkit-calc(20 * var(--unit-length));
  -moz-background-size: -moz-calc(20 * var(--unit-length)) -moz-calc(20 * var(--unit-length));
  -o-background-size: calc(20 * var(--unit-length)) calc(20 * var(--unit-length));
  background-size: -webkit-calc(20 * var(--unit-length)) -webkit-calc(20 * var(--unit-length));
  background-size: -moz-calc(20 * var(--unit-length)) -moz-calc(20 * var(--unit-length));
  background-size: calc(20 * var(--unit-length)) calc(20 * var(--unit-length));
  line-height: -webkit-calc(16 * var(--unit-length));
  line-height: -moz-calc(16 * var(--unit-length));
  line-height: calc(16 * var(--unit-length));
  -webkit-animation: bg-wave-flow-f568b156 1s infinite linear;
  -moz-animation: bg-wave-flow-f568b156 1s infinite linear;
  -o-animation: bg-wave-flow-f568b156 1s infinite linear;
  animation: bg-wave-flow-f568b156 1s infinite linear;
}
.nav-562acdbd {
  height: 100%;
  background: var(--s-color-bg-dark-2);
}
.title-562acdbd {
  padding-block: -webkit-calc(20 * var(--unit-length));
  padding-block: -moz-calc(20 * var(--unit-length));
  padding-block: calc(20 * var(--unit-length));
  background: -webkit-linear-gradient(45deg, #00f260 0%, #0575e6 100%);
  background: -moz-linear-gradient(45deg, #00f260 0%, #0575e6 100%);
  background: -o-linear-gradient(45deg, #00f260 0%, #0575e6 100%);
  background: linear-gradient(45deg, #00f260 0%, #0575e6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: var(--s-font-size-middle);
  text-align: center;
}
@property --color-stop1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #40e0d0;
}
@property --color-stop2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ff8c00;
}
@property --color-stop3 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ff0080;
}
@-webkit-keyframes change-color-562acdbd {
  0% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
  33% {
    --color-stop1: #ff0080;
    --color-stop2: #40e0d0;
    --color-stop3: #ff8c00;
  }
  66% {
    --color-stop1: #ff8c00;
    --color-stop2: #ff0080;
    --color-stop3: #40e0d0;
  }
  100% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
}
@-moz-keyframes change-color-562acdbd {
  0% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
  33% {
    --color-stop1: #ff0080;
    --color-stop2: #40e0d0;
    --color-stop3: #ff8c00;
  }
  66% {
    --color-stop1: #ff8c00;
    --color-stop2: #ff0080;
    --color-stop3: #40e0d0;
  }
  100% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
}
@-o-keyframes change-color-562acdbd {
  0% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
  33% {
    --color-stop1: #ff0080;
    --color-stop2: #40e0d0;
    --color-stop3: #ff8c00;
  }
  66% {
    --color-stop1: #ff8c00;
    --color-stop2: #ff0080;
    --color-stop3: #40e0d0;
  }
  100% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
}
@keyframes change-color-562acdbd {
  0% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
  33% {
    --color-stop1: #ff0080;
    --color-stop2: #40e0d0;
    --color-stop3: #ff8c00;
  }
  66% {
    --color-stop1: #ff8c00;
    --color-stop2: #ff0080;
    --color-stop3: #40e0d0;
  }
  100% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
}
.slogan-562acdbd {
  width: -webkit-calc(140 * var(--unit-length));
  width: -moz-calc(140 * var(--unit-length));
  width: calc(140 * var(--unit-length));
  height: -webkit-calc(50 * var(--unit-length));
  height: -moz-calc(50 * var(--unit-length));
  height: calc(50 * var(--unit-length));
  margin-inline: auto;
  -webkit-border-radius: -webkit-calc(4 * var(--unit-length));
  -moz-border-radius: -moz-calc(4 * var(--unit-length));
  border-radius: -webkit-calc(4 * var(--unit-length));
  border-radius: -moz-calc(4 * var(--unit-length));
  border-radius: calc(4 * var(--unit-length));
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@supports (--css: variable) {
  .slogan-562acdbd {
    background-image: -webkit-linear-gradient(left, var(--color-stop1) 0%, var(--color-stop2) 50%, var(--color-stop3) 100%);
    background-image: -moz-linear-gradient(left, var(--color-stop1) 0%, var(--color-stop2) 50%, var(--color-stop3) 100%);
    background-image: -o-linear-gradient(left, var(--color-stop1) 0%, var(--color-stop2) 50%, var(--color-stop3) 100%);
    background-image: linear-gradient(90deg, var(--color-stop1) 0%, var(--color-stop2) 50%, var(--color-stop3) 100%);
    -webkit-animation: change-color-562acdbd 4s linear infinite;
    -moz-animation: change-color-562acdbd 4s linear infinite;
    -o-animation: change-color-562acdbd 4s linear infinite;
    animation: change-color-562acdbd 4s linear infinite;
  }
}
@supports not (--css: variable) {
  .slogan-562acdbd {
    background-image: -webkit-linear-gradient(left, #40e0d0 0%, #ff8c00 50%, #ff0080 100%);
    background-image: -moz-linear-gradient(left, #40e0d0 0%, #ff8c00 50%, #ff0080 100%);
    background-image: -o-linear-gradient(left, #40e0d0 0%, #ff8c00 50%, #ff0080 100%);
    background-image: linear-gradient(90deg, #40e0d0 0%, #ff8c00 50%, #ff0080 100%);
  }
}
.slogan__inner-562acdbd {
  display: inline-block;
  width: -webkit-calc(100% - (6 * var(--unit-length)));
  width: -moz-calc(100% - (6 * var(--unit-length)));
  width: calc(100% - (6 * var(--unit-length)));
  width: calc(100% - calc(6 * var(--unit-length)));
  height: -webkit-calc(100% - (6 * var(--unit-length)));
  height: -moz-calc(100% - (6 * var(--unit-length)));
  height: calc(100% - (6 * var(--unit-length)));
  height: calc(100% - calc(6 * var(--unit-length)));
  margin: -webkit-calc(3 * var(--unit-length));
  margin: -moz-calc(3 * var(--unit-length));
  margin: calc(3 * var(--unit-length));
  background-color: var(--s-color-bg-dark-4);
  color: var(--s-color-text-light-1);
  line-height: -webkit-calc(46 * var(--unit-length));
  line-height: -moz-calc(46 * var(--unit-length));
  line-height: calc(46 * var(--unit-length));
  text-align: center;
}
.entries-562acdbd {
  margin-top: -webkit-calc(20 * var(--unit-length));
  margin-top: -moz-calc(20 * var(--unit-length));
  margin-top: calc(20 * var(--unit-length));
}
.entry-562acdbd {
  height: -webkit-calc(36 * var(--unit-length));
  height: -moz-calc(36 * var(--unit-length));
  height: calc(36 * var(--unit-length));
  padding-inline: -webkit-calc(20 * var(--unit-length));
  padding-inline: -moz-calc(20 * var(--unit-length));
  padding-inline: calc(20 * var(--unit-length));
  color: var(--s-color-text-light-1);
  line-height: -webkit-calc(36 * var(--unit-length));
  line-height: -moz-calc(36 * var(--unit-length));
  line-height: calc(36 * var(--unit-length));
}
.entry-562acdbd:hover {
  background-color: var(--s-color-bg-dark-3);
}
.icon-0b50c465 {
  vertical-align: -0.15em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  fill: currentcolor;
}
.input-f03885e4 {
  padding: -webkit-calc(8 * var(--unit-length)) -webkit-calc(20 * var(--unit-length));
  padding: -moz-calc(8 * var(--unit-length)) -moz-calc(20 * var(--unit-length));
  padding: calc(8 * var(--unit-length)) calc(20 * var(--unit-length));
  -webkit-border-radius: -webkit-calc(4 * var(--unit-length));
  -moz-border-radius: -moz-calc(4 * var(--unit-length));
  border-radius: -webkit-calc(4 * var(--unit-length));
  border-radius: -moz-calc(4 * var(--unit-length));
  border-radius: calc(4 * var(--unit-length));
  background-color: var(--s-color-bg-dark-1);
}
.input__inner-f03885e4 {
  width: -webkit-calc(100% - (40 * var(--unit-length)));
  width: -moz-calc(100% - (40 * var(--unit-length)));
  width: calc(100% - (40 * var(--unit-length)));
  width: calc(100% - calc(40 * var(--unit-length)));
  color: var(--s-color-text-light-1);
  font-size: var(--s-font-size-small);
}
.input__inner-f03885e4::-webkit-input-placeholder {
  color: var(--s-color-text-light-2);
}
.input__inner-f03885e4:-moz-placeholder {
  color: var(--s-color-text-light-2);
}
.input__inner-f03885e4::-moz-placeholder {
  color: var(--s-color-text-light-2);
}
.input__inner-f03885e4:-ms-input-placeholder {
  color: var(--s-color-text-light-2);
}
.input__inner-f03885e4::-ms-input-placeholder {
  color: var(--s-color-text-light-2);
}
.input__inner-f03885e4::placeholder {
  color: var(--s-color-text-light-2);
}
.input__prefix-f03885e4 {
  margin-right: -webkit-calc(10 * var(--unit-length));
  margin-right: -moz-calc(10 * var(--unit-length));
  margin-right: calc(10 * var(--unit-length));
}
.main-3d2210f3 {
  height: 100%;
  padding: -webkit-calc(12 * var(--unit-length));
  padding: -moz-calc(12 * var(--unit-length));
  padding: calc(12 * var(--unit-length));
  background-color: var(--s-color-bg-dark-3);
}
//# sourceMappingURL=/index_9c8b.04071633.css.map