*:where(:not(html, iframe, canvas, img, svg, video, audio, svg *, symbol *)) {
  all: unset;
  display: revert;
}
*, 
*::before, 
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}
a, 
button {
  cursor: revert;
}
ol, 
ul, 
menu, 
summary {
  list-style: none;
}
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}
table {
  border-collapse: collapse;
}
input, 
textarea {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
textarea {
  white-space: revert;
}
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
  -ms-appearance: revert;
  appearance: revert;
}
:where(pre) {
  all: revert;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: unset;
}
:-moz-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}
:where([hidden]) {
  display: none;
}
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-break: after-white-space;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
:where([draggable=true]) {
  -webkit-user-drag: element;
}
:where(dialog:modal) {
  all: revert;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-weight: normal;
  font-size: var(--s-font-size-normal);
  font-family: JetBrainsMono, "Microsoft YaHei", "PingFang SC";
}
html {
  --unit-length: calc(1rem / 16);
}
#app {
  height: 100vh;
  min-height: -webkit-calc(840 * var(--unit-length));
  min-height: -moz-calc(840 * var(--unit-length));
  min-height: calc(840 * var(--unit-length));
}
.o-btn {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  --s-color-bg-light-1: #ffffff;
  --s-color-bg-dark-1: #2c303b;
  --s-color-bg-dark-2: #1e1e26;
  --s-color-bg-dark-3: #131418;
  --s-color-bg-dark-4: #010101;
  --s-color-bg-dark-5: #74829a;
  --s-color-text-light-1: #ffffff;
  --s-color-text-light-2: #c7c9d3;
  --s-color-text-dark: #000000;
}
html {
  --s-font-size-large: calc(45 * var(--unit-length));
  --s-font-size-middle: calc(27 * var(--unit-length));
  --s-font-size-normal: calc(16 * var(--unit-length));
  --s-font-size-small: calc(14 * var(--unit-length));
  --s-font-size-tiny: calc(12 * var(--unit-length));
}
@font-face{
  font-weight: normal;
  font-style: normal;
  font-family: JetBrainsMono;
  src: url("JetBrainsMono-Regular.a9cb1cd8.woff2") format("woff2");
}
@font-face{
  font-weight: bold;
  font-style: normal;
  font-family: JetBrainsMono;
  src: url("JetBrainsMono-Bold.c503cc5e.woff2") format("woff2");
}
@font-face{
  font-weight: bold;
  font-style: italic;
  font-family: JetBrainsMono;
  src: url("JetBrainsMono-BoldItalic.3a013466.woff2") format("woff2");
}
.icon-0b50c465 {
  vertical-align: -0.15em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  fill: currentcolor;
}
.layout-e21327f6 {
  display: grid;
  grid-template-areas: "nav main" "nav footer";
  grid-template-rows: 1fr -webkit-calc(100 * var(--unit-length));
  grid-template-rows: 1fr -moz-calc(100 * var(--unit-length));
  grid-template-rows: 1fr calc(100 * var(--unit-length));
  grid-template-columns: -webkit-calc(180 * var(--unit-length)) 1fr;
  grid-template-columns: -moz-calc(180 * var(--unit-length)) 1fr;
  grid-template-columns: calc(180 * var(--unit-length)) 1fr;
  overflow: hidden;
  height: 100%;
}
.layout--nav-collapsed-e21327f6 {
  grid-template-columns: -webkit-calc(16 * var(--unit-length)) 1fr;
  grid-template-columns: -moz-calc(16 * var(--unit-length)) 1fr;
  grid-template-columns: calc(16 * var(--unit-length)) 1fr;
}
.main-e21327f6 {
  grid-area: main;
}
.footer-e21327f6 {
  grid-area: footer;
}
.nav-e21327f6 {
  position: relative;
  grid-area: nav;
}
@-webkit-keyframes dyn-bg-e21327f6 {
  100% {
    -webkit-transform: translatey(-webkit-calc(-17 * var(--unit-length)));
    transform: translatey(-webkit-calc(-17 * var(--unit-length)));
    transform: translatey(calc(-17 * var(--unit-length)));
  }
}
@-moz-keyframes dyn-bg-e21327f6 {
  100% {
    -moz-transform: translatey(-moz-calc(-17 * var(--unit-length)));
    transform: translatey(-moz-calc(-17 * var(--unit-length)));
    transform: translatey(calc(-17 * var(--unit-length)));
  }
}
@-o-keyframes dyn-bg-e21327f6 {
  100% {
    -o-transform: translatey(calc(-17 * var(--unit-length)));
    transform: translatey(calc(-17 * var(--unit-length)));
  }
}
@keyframes dyn-bg-e21327f6 {
  100% {
    -webkit-transform: translatey(-webkit-calc(-17 * var(--unit-length)));
    -moz-transform: translatey(-moz-calc(-17 * var(--unit-length)));
    -o-transform: translatey(calc(-17 * var(--unit-length)));
    transform: translatey(-webkit-calc(-17 * var(--unit-length)));
    transform: translatey(-moz-calc(-17 * var(--unit-length)));
    transform: translatey(calc(-17 * var(--unit-length)));
  }
}
.nav-collapsed-e21327f6 {
  background-image: -webkit-repeating-linear-gradient(45deg, var(--s-color-bg-dark-1), var(--s-color-bg-dark-1) -webkit-calc(2 * var(--unit-length)), var(--s-color-bg-dark-3) 0, var(--s-color-bg-dark-3) -webkit-calc(4 * var(--unit-length)));
  background-image: -moz-repeating-linear-gradient(45deg, var(--s-color-bg-dark-1), var(--s-color-bg-dark-1) -moz-calc(2 * var(--unit-length)), var(--s-color-bg-dark-3) 0, var(--s-color-bg-dark-3) -moz-calc(4 * var(--unit-length)));
  background-image: -o-repeating-linear-gradient(45deg, var(--s-color-bg-dark-1), var(--s-color-bg-dark-1) calc(2 * var(--unit-length)), var(--s-color-bg-dark-3) 0, var(--s-color-bg-dark-3) calc(4 * var(--unit-length)));
  background-image: repeating-linear-gradient(45deg, var(--s-color-bg-dark-1), var(--s-color-bg-dark-1) calc(2 * var(--unit-length)), var(--s-color-bg-dark-3) 0, var(--s-color-bg-dark-3) calc(4 * var(--unit-length)));
  cursor: pointer;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}
.nav-collapsed-e21327f6:hover {
  height: -webkit-calc(100% + (17 * var(--unit-length)));
  height: -moz-calc(100% + (17 * var(--unit-length)));
  height: calc(100% + (17 * var(--unit-length)));
  height: calc(100% + calc(17 * var(--unit-length)));
  opacity: 0.8;
  -webkit-animation: dyn-bg-e21327f6 0.6s infinite linear;
  -moz-animation: dyn-bg-e21327f6 0.6s infinite linear;
  -o-animation: dyn-bg-e21327f6 0.6s infinite linear;
  animation: dyn-bg-e21327f6 0.6s infinite linear;
}
.collapse-btn-e21327f6 {
  position: absolute;
  top: 5%;
  right: -webkit-calc(-30 * var(--unit-length));
  right: -moz-calc(-30 * var(--unit-length));
  right: calc(-30 * var(--unit-length));
  width: -webkit-calc(30 * var(--unit-length));
  width: -moz-calc(30 * var(--unit-length));
  width: calc(30 * var(--unit-length));
  height: -webkit-calc(30 * var(--unit-length));
  height: -moz-calc(30 * var(--unit-length));
  height: calc(30 * var(--unit-length));
  -webkit-border-radius: -webkit-calc(4 * var(--unit-length));
  -moz-border-radius: -moz-calc(4 * var(--unit-length));
  border-radius: -webkit-calc(4 * var(--unit-length));
  border-radius: -moz-calc(4 * var(--unit-length));
  border-radius: calc(4 * var(--unit-length));
  background-color: var(--s-color-bg-dark-1);
  font-size: -webkit-calc(20 * var(--unit-length));
  font-size: -moz-calc(20 * var(--unit-length));
  font-size: calc(20 * var(--unit-length));
  line-height: -webkit-calc(30 * var(--unit-length));
  line-height: -moz-calc(30 * var(--unit-length));
  line-height: calc(30 * var(--unit-length));
  text-align: center;
  visibility: hidden;
  cursor: pointer;
  -webkit-transition: visibility 0.6s ease;
  -moz-transition: visibility 0.6s ease;
  -o-transition: visibility 0.6s ease;
  transition: visibility 0.6s ease;
}
.collapse-btn-e21327f6:hover {
  opacity: 0.8;
}
.nav-e21327f6:hover .collapse-btn-e21327f6 {
  visibility: visible;
}
.footer-f568b156 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: -webkit-calc(8 * var(--unit-length));
  gap: -moz-calc(8 * var(--unit-length));
  gap: calc(8 * var(--unit-length));
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--s-color-bg-dark-4);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.text-f568b156 {
  color: var(--s-color-text-light-2);
  font-size: var(--s-font-size-tiny);
}
@-webkit-keyframes bg-wave-flow-f568b156 {
  from {
    background-position-x: -webkit-calc(-10 * var(--unit-length)), 0;
    background-position-x: calc(-10 * var(--unit-length)), 0;
  }
  to {
    background-position-x: -webkit-calc(-30 * var(--unit-length)), -webkit-calc(-20 * var(--unit-length));
    background-position-x: calc(-30 * var(--unit-length)), calc(-20 * var(--unit-length));
  }
}
@-moz-keyframes bg-wave-flow-f568b156 {
  from {
    background-position-x: -moz-calc(-10 * var(--unit-length)), 0;
    background-position-x: calc(-10 * var(--unit-length)), 0;
  }
  to {
    background-position-x: -moz-calc(-30 * var(--unit-length)), -moz-calc(-20 * var(--unit-length));
    background-position-x: calc(-30 * var(--unit-length)), calc(-20 * var(--unit-length));
  }
}
@-o-keyframes bg-wave-flow-f568b156 {
  from {
    background-position-x: calc(-10 * var(--unit-length)), 0;
  }
  to {
    background-position-x: calc(-30 * var(--unit-length)), calc(-20 * var(--unit-length));
  }
}
@keyframes bg-wave-flow-f568b156 {
  from {
    background-position-x: -webkit-calc(-10 * var(--unit-length)), 0;
    background-position-x: -moz-calc(-10 * var(--unit-length)), 0;
    background-position-x: calc(-10 * var(--unit-length)), 0;
  }
  to {
    background-position-x: -webkit-calc(-30 * var(--unit-length)), -webkit-calc(-20 * var(--unit-length));
    background-position-x: -moz-calc(-30 * var(--unit-length)), -moz-calc(-20 * var(--unit-length));
    background-position-x: calc(-30 * var(--unit-length)), calc(-20 * var(--unit-length));
  }
}
.link-f568b156 {
  display: inline-block;
  background: -webkit-radial-gradient(-webkit-calc(10 * var(--unit-length)) -webkit-calc(-7 * var(--unit-length)), circle, transparent -webkit-calc(8 * var(--unit-length)), currentcolor -webkit-calc(8 * var(--unit-length)), currentcolor -webkit-calc(9 * var(--unit-length)), transparent -webkit-calc(9 * var(--unit-length))) repeat-x, -webkit-radial-gradient(-webkit-calc(10 * var(--unit-length)) -webkit-calc(27 * var(--unit-length)), circle, transparent -webkit-calc(8 * var(--unit-length)), currentcolor -webkit-calc(8 * var(--unit-length)), currentcolor -webkit-calc(9 * var(--unit-length)), transparent -webkit-calc(9 * var(--unit-length))) repeat-x;
  background: -moz-radial-gradient(-moz-calc(10 * var(--unit-length)) -moz-calc(-7 * var(--unit-length)), circle, transparent -moz-calc(8 * var(--unit-length)), currentcolor -moz-calc(8 * var(--unit-length)), currentcolor -moz-calc(9 * var(--unit-length)), transparent -moz-calc(9 * var(--unit-length))) repeat-x, -moz-radial-gradient(-moz-calc(10 * var(--unit-length)) -moz-calc(27 * var(--unit-length)), circle, transparent -moz-calc(8 * var(--unit-length)), currentcolor -moz-calc(8 * var(--unit-length)), currentcolor -moz-calc(9 * var(--unit-length)), transparent -moz-calc(9 * var(--unit-length))) repeat-x;
  background: -o-radial-gradient(calc(10 * var(--unit-length)) calc(-7 * var(--unit-length)), circle, transparent calc(8 * var(--unit-length)), currentcolor calc(8 * var(--unit-length)), currentcolor calc(9 * var(--unit-length)), transparent calc(9 * var(--unit-length))) repeat-x, -o-radial-gradient(calc(10 * var(--unit-length)) calc(27 * var(--unit-length)), circle, transparent calc(8 * var(--unit-length)), currentcolor calc(8 * var(--unit-length)), currentcolor calc(9 * var(--unit-length)), transparent calc(9 * var(--unit-length))) repeat-x;
  background: radial-gradient(circle at calc(10 * var(--unit-length)) calc(-7 * var(--unit-length)), transparent calc(8 * var(--unit-length)), currentcolor calc(8 * var(--unit-length)), currentcolor calc(9 * var(--unit-length)), transparent calc(9 * var(--unit-length))) repeat-x, radial-gradient(circle at calc(10 * var(--unit-length)) calc(27 * var(--unit-length)), transparent calc(8 * var(--unit-length)), currentcolor calc(8 * var(--unit-length)), currentcolor calc(9 * var(--unit-length)), transparent calc(9 * var(--unit-length))) repeat-x;
  background-position: -webkit-calc(-10 * var(--unit-length)) -webkit-calc(100% + (16 * var(--unit-length))), 0 -webkit-calc(100% - (4 * var(--unit-length)));
  background-position: -moz-calc(-10 * var(--unit-length)) -moz-calc(100% + (16 * var(--unit-length))), 0 -moz-calc(100% - (4 * var(--unit-length)));
  background-position: calc(-10 * var(--unit-length)) calc(100% + (16 * var(--unit-length))), 0 calc(100% - (4 * var(--unit-length)));
  background-position: calc(-10 * var(--unit-length)) calc(100% + calc(16 * var(--unit-length))), 0 calc(100% - calc(4 * var(--unit-length)));
  -webkit-background-size: -webkit-calc(20 * var(--unit-length)) -webkit-calc(20 * var(--unit-length));
  -moz-background-size: -moz-calc(20 * var(--unit-length)) -moz-calc(20 * var(--unit-length));
  -o-background-size: calc(20 * var(--unit-length)) calc(20 * var(--unit-length));
  background-size: -webkit-calc(20 * var(--unit-length)) -webkit-calc(20 * var(--unit-length));
  background-size: -moz-calc(20 * var(--unit-length)) -moz-calc(20 * var(--unit-length));
  background-size: calc(20 * var(--unit-length)) calc(20 * var(--unit-length));
  line-height: -webkit-calc(16 * var(--unit-length));
  line-height: -moz-calc(16 * var(--unit-length));
  line-height: calc(16 * var(--unit-length));
  -webkit-animation: bg-wave-flow-f568b156 1s infinite linear;
  -moz-animation: bg-wave-flow-f568b156 1s infinite linear;
  -o-animation: bg-wave-flow-f568b156 1s infinite linear;
  animation: bg-wave-flow-f568b156 1s infinite linear;
}
.nav-89509faa {
  height: 100%;
  background: var(--s-color-bg-dark-2);
}
.title-89509faa {
  padding-block: -webkit-calc(20 * var(--unit-length));
  padding-block: -moz-calc(20 * var(--unit-length));
  padding-block: calc(20 * var(--unit-length));
  background: -webkit-linear-gradient(45deg, #00f260 0%, #0575e6 100%);
  background: -moz-linear-gradient(45deg, #00f260 0%, #0575e6 100%);
  background: -o-linear-gradient(45deg, #00f260 0%, #0575e6 100%);
  background: linear-gradient(45deg, #00f260 0%, #0575e6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: var(--s-font-size-middle);
  text-align: center;
}
@property --color-stop1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #40e0d0;
}
@property --color-stop2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ff8c00;
}
@property --color-stop3 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ff0080;
}
@-webkit-keyframes change-color-89509faa {
  0% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
  33% {
    --color-stop1: #ff0080;
    --color-stop2: #40e0d0;
    --color-stop3: #ff8c00;
  }
  66% {
    --color-stop1: #ff8c00;
    --color-stop2: #ff0080;
    --color-stop3: #40e0d0;
  }
  100% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
}
@-moz-keyframes change-color-89509faa {
  0% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
  33% {
    --color-stop1: #ff0080;
    --color-stop2: #40e0d0;
    --color-stop3: #ff8c00;
  }
  66% {
    --color-stop1: #ff8c00;
    --color-stop2: #ff0080;
    --color-stop3: #40e0d0;
  }
  100% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
}
@-o-keyframes change-color-89509faa {
  0% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
  33% {
    --color-stop1: #ff0080;
    --color-stop2: #40e0d0;
    --color-stop3: #ff8c00;
  }
  66% {
    --color-stop1: #ff8c00;
    --color-stop2: #ff0080;
    --color-stop3: #40e0d0;
  }
  100% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
}
@keyframes change-color-89509faa {
  0% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
  33% {
    --color-stop1: #ff0080;
    --color-stop2: #40e0d0;
    --color-stop3: #ff8c00;
  }
  66% {
    --color-stop1: #ff8c00;
    --color-stop2: #ff0080;
    --color-stop3: #40e0d0;
  }
  100% {
    --color-stop1: #40e0d0;
    --color-stop2: #ff8c00;
    --color-stop3: #ff0080;
  }
}
.slogan-89509faa {
  width: -webkit-calc(140 * var(--unit-length));
  width: -moz-calc(140 * var(--unit-length));
  width: calc(140 * var(--unit-length));
  height: -webkit-calc(50 * var(--unit-length));
  height: -moz-calc(50 * var(--unit-length));
  height: calc(50 * var(--unit-length));
  margin-inline: auto;
  -webkit-border-radius: -webkit-calc(4 * var(--unit-length));
  -moz-border-radius: -moz-calc(4 * var(--unit-length));
  border-radius: -webkit-calc(4 * var(--unit-length));
  border-radius: -moz-calc(4 * var(--unit-length));
  border-radius: calc(4 * var(--unit-length));
  font-size: var(--s-font-size-small);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@supports (--css: variable) {
  .slogan-89509faa {
    background-image: -webkit-linear-gradient(left, var(--color-stop1) 0%, var(--color-stop2) 50%, var(--color-stop3) 100%);
    background-image: -moz-linear-gradient(left, var(--color-stop1) 0%, var(--color-stop2) 50%, var(--color-stop3) 100%);
    background-image: -o-linear-gradient(left, var(--color-stop1) 0%, var(--color-stop2) 50%, var(--color-stop3) 100%);
    background-image: linear-gradient(90deg, var(--color-stop1) 0%, var(--color-stop2) 50%, var(--color-stop3) 100%);
    -webkit-animation: change-color-89509faa 4s linear infinite;
    -moz-animation: change-color-89509faa 4s linear infinite;
    -o-animation: change-color-89509faa 4s linear infinite;
    animation: change-color-89509faa 4s linear infinite;
  }
}
@supports not (--css: variable) {
  .slogan-89509faa {
    background-image: -webkit-linear-gradient(left, #40e0d0 0%, #ff8c00 50%, #ff0080 100%);
    background-image: -moz-linear-gradient(left, #40e0d0 0%, #ff8c00 50%, #ff0080 100%);
    background-image: -o-linear-gradient(left, #40e0d0 0%, #ff8c00 50%, #ff0080 100%);
    background-image: linear-gradient(90deg, #40e0d0 0%, #ff8c00 50%, #ff0080 100%);
  }
}
.slogan__inner-89509faa {
  display: inline-block;
  width: -webkit-calc(100% - (6 * var(--unit-length)));
  width: -moz-calc(100% - (6 * var(--unit-length)));
  width: calc(100% - (6 * var(--unit-length)));
  width: calc(100% - calc(6 * var(--unit-length)));
  height: -webkit-calc(100% - (6 * var(--unit-length)));
  height: -moz-calc(100% - (6 * var(--unit-length)));
  height: calc(100% - (6 * var(--unit-length)));
  height: calc(100% - calc(6 * var(--unit-length)));
  margin: -webkit-calc(3 * var(--unit-length));
  margin: -moz-calc(3 * var(--unit-length));
  margin: calc(3 * var(--unit-length));
  background-color: var(--s-color-bg-dark-4);
  color: var(--s-color-text-light-1);
  line-height: -webkit-calc(46 * var(--unit-length));
  line-height: -moz-calc(46 * var(--unit-length));
  line-height: calc(46 * var(--unit-length));
  text-align: center;
}
.entries-89509faa {
  margin-top: -webkit-calc(20 * var(--unit-length));
  margin-top: -moz-calc(20 * var(--unit-length));
  margin-top: calc(20 * var(--unit-length));
}
.entry-89509faa {
  height: -webkit-calc(36 * var(--unit-length));
  height: -moz-calc(36 * var(--unit-length));
  height: calc(36 * var(--unit-length));
  padding-inline: -webkit-calc(20 * var(--unit-length));
  padding-inline: -moz-calc(20 * var(--unit-length));
  padding-inline: calc(20 * var(--unit-length));
  color: var(--s-color-text-light-1);
  line-height: -webkit-calc(36 * var(--unit-length));
  line-height: -moz-calc(36 * var(--unit-length));
  line-height: calc(36 * var(--unit-length));
}
.entry-89509faa:hover {
  background-color: var(--s-color-bg-dark-3);
}
.input-f03885e4 {
  padding: -webkit-calc(8 * var(--unit-length)) -webkit-calc(20 * var(--unit-length));
  padding: -moz-calc(8 * var(--unit-length)) -moz-calc(20 * var(--unit-length));
  padding: calc(8 * var(--unit-length)) calc(20 * var(--unit-length));
  -webkit-border-radius: -webkit-calc(4 * var(--unit-length));
  -moz-border-radius: -moz-calc(4 * var(--unit-length));
  border-radius: -webkit-calc(4 * var(--unit-length));
  border-radius: -moz-calc(4 * var(--unit-length));
  border-radius: calc(4 * var(--unit-length));
  background-color: var(--s-color-bg-dark-1);
}
.input__inner-f03885e4 {
  width: -webkit-calc(100% - (40 * var(--unit-length)));
  width: -moz-calc(100% - (40 * var(--unit-length)));
  width: calc(100% - (40 * var(--unit-length)));
  width: calc(100% - calc(40 * var(--unit-length)));
  color: var(--s-color-text-light-1);
  font-size: var(--s-font-size-small);
}
.input__inner-f03885e4::-webkit-input-placeholder {
  color: var(--s-color-text-light-2);
}
.input__inner-f03885e4:-moz-placeholder {
  color: var(--s-color-text-light-2);
}
.input__inner-f03885e4::-moz-placeholder {
  color: var(--s-color-text-light-2);
}
.input__inner-f03885e4:-ms-input-placeholder {
  color: var(--s-color-text-light-2);
}
.input__inner-f03885e4::-ms-input-placeholder {
  color: var(--s-color-text-light-2);
}
.input__inner-f03885e4::placeholder {
  color: var(--s-color-text-light-2);
}
.input__prefix-f03885e4 {
  margin-right: -webkit-calc(10 * var(--unit-length));
  margin-right: -moz-calc(10 * var(--unit-length));
  margin-right: calc(10 * var(--unit-length));
}
@-webkit-keyframes come-out-32c410d9 {
  0% {
    top: -webkit-calc(20 * var(--unit-length));
    top: calc(20 * var(--unit-length));
  }
  80% {
    top: -webkit-calc(20 * var(--unit-length));
    top: calc(20 * var(--unit-length));
  }
  100% {
    top: -webkit-calc(-30 * var(--unit-length));
    top: calc(-30 * var(--unit-length));
  }
}
@-moz-keyframes come-out-32c410d9 {
  0% {
    top: -moz-calc(20 * var(--unit-length));
    top: calc(20 * var(--unit-length));
  }
  80% {
    top: -moz-calc(20 * var(--unit-length));
    top: calc(20 * var(--unit-length));
  }
  100% {
    top: -moz-calc(-30 * var(--unit-length));
    top: calc(-30 * var(--unit-length));
  }
}
@-o-keyframes come-out-32c410d9 {
  0% {
    top: calc(20 * var(--unit-length));
  }
  80% {
    top: calc(20 * var(--unit-length));
  }
  100% {
    top: calc(-30 * var(--unit-length));
  }
}
@keyframes come-out-32c410d9 {
  0% {
    top: -webkit-calc(20 * var(--unit-length));
    top: -moz-calc(20 * var(--unit-length));
    top: calc(20 * var(--unit-length));
  }
  80% {
    top: -webkit-calc(20 * var(--unit-length));
    top: -moz-calc(20 * var(--unit-length));
    top: calc(20 * var(--unit-length));
  }
  100% {
    top: -webkit-calc(-30 * var(--unit-length));
    top: -moz-calc(-30 * var(--unit-length));
    top: calc(-30 * var(--unit-length));
  }
}
.notify__wrapper-32c410d9 {
  position: fixed;
  left: 50%;
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  transform: translatex(-50%);
  -webkit-animation: come-out-32c410d9 2s;
  -moz-animation: come-out-32c410d9 2s;
  -o-animation: come-out-32c410d9 2s;
  animation: come-out-32c410d9 2s;
}
.notify-32c410d9 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: -webkit-calc(160 * var(--unit-length));
  min-width: -moz-calc(160 * var(--unit-length));
  min-width: calc(160 * var(--unit-length));
  max-width: -webkit-calc(600 * var(--unit-length));
  max-width: -moz-calc(600 * var(--unit-length));
  max-width: calc(600 * var(--unit-length));
  padding: -webkit-calc(8 * var(--unit-length)) -webkit-calc(12 * var(--unit-length));
  padding: -moz-calc(8 * var(--unit-length)) -moz-calc(12 * var(--unit-length));
  padding: calc(8 * var(--unit-length)) calc(12 * var(--unit-length));
  border: -webkit-calc(1 * var(--unit-length)) solid;
  border: -moz-calc(1 * var(--unit-length)) solid;
  border: calc(1 * var(--unit-length)) solid;
  -webkit-border-radius: -webkit-calc(2 * var(--unit-length));
  -moz-border-radius: -moz-calc(2 * var(--unit-length));
  border-radius: -webkit-calc(2 * var(--unit-length));
  border-radius: -moz-calc(2 * var(--unit-length));
  border-radius: calc(2 * var(--unit-length));
  text-align: center;
}
.notify--success-32c410d9 {
  border-color: #25371c;
  background-color: #1c2518;
  color: #67c23a;
}
.notify--warning-32c410d9 {
  border-color: #3e301c;
  background-color: #292218;
  color: #e6a23c;
}
.notify--error-32c410d9 {
  border-color: #412626;
  background-color: #2b1d1d;
  color: #f56c6c;
}
.notify--info-32c410d9 {
  border-color: #2d2d2f;
  background-color: #202121;
  color: #909399;
}
.show-case-41e34db8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: -webkit-calc(400 * var(--unit-length));
  width: -moz-calc(400 * var(--unit-length));
  width: calc(400 * var(--unit-length));
  height: -webkit-calc(300 * var(--unit-length));
  height: -moz-calc(300 * var(--unit-length));
  height: calc(300 * var(--unit-length));
  padding: -webkit-calc(16 * var(--unit-length));
  padding: -moz-calc(16 * var(--unit-length));
  padding: calc(16 * var(--unit-length));
  -webkit-border-radius: -webkit-calc(8 * var(--unit-length));
  -moz-border-radius: -moz-calc(8 * var(--unit-length));
  border-radius: -webkit-calc(8 * var(--unit-length));
  border-radius: -moz-calc(8 * var(--unit-length));
  border-radius: calc(8 * var(--unit-length));
  background-color: var(--s-color-bg-dark-2);
}
.title-41e34db8 {
  overflow: hidden;
  color: var(--s-color-text-light-1);
  font-weight: bold;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tags-41e34db8 {
  overflow: hidden;
  color: var(--s-color-text-light-2);
  font-size: var(--s-font-size-small);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame__wrapper-41e34db8 {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  margin-bottom: -webkit-calc(8 * var(--unit-length));
  margin-bottom: -moz-calc(8 * var(--unit-length));
  margin-bottom: calc(8 * var(--unit-length));
  -webkit-border-radius: -webkit-calc(8 * var(--unit-length));
  -moz-border-radius: -moz-calc(8 * var(--unit-length));
  border-radius: -webkit-calc(8 * var(--unit-length));
  border-radius: -moz-calc(8 * var(--unit-length));
  border-radius: calc(8 * var(--unit-length));
}
.frame__wrapper-41e34db8:hover {
  cursor: pointer;
}
.frame__wrapper-41e34db8::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: -webkit-calc(200 * var(--unit-length));
  width: -moz-calc(200 * var(--unit-length));
  width: calc(200 * var(--unit-length));
  height: -webkit-calc(150 * var(--unit-length));
  height: -moz-calc(150 * var(--unit-length));
  height: calc(150 * var(--unit-length));
  background: -webkit-linear-gradient(bottom left, transparent 50%, rgba(0, 0, 0, 0.5) 100%);
  background: -moz-linear-gradient(bottom left, transparent 50%, rgba(0, 0, 0, 0.5) 100%);
  background: -o-linear-gradient(bottom left, transparent 50%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to top right, transparent 50%, rgba(0, 0, 0, 0.5) 100%);
}
.frame__wrapper-41e34db8:hover::after {
  display: block;
}
.frame-41e34db8 {
  height: 100%;
  background: var(--s-color-bg-light-1);
}
.frame__btn-41e34db8 {
  position: absolute;
  top: -webkit-calc(20 * var(--unit-length));
  top: -moz-calc(20 * var(--unit-length));
  top: calc(20 * var(--unit-length));
  right: -webkit-calc(20 * var(--unit-length));
  right: -moz-calc(20 * var(--unit-length));
  right: calc(20 * var(--unit-length));
  display: none;
  width: -webkit-calc(28 * var(--unit-length));
  width: -moz-calc(28 * var(--unit-length));
  width: calc(28 * var(--unit-length));
  height: -webkit-calc(28 * var(--unit-length));
  height: -moz-calc(28 * var(--unit-length));
  height: calc(28 * var(--unit-length));
  -webkit-border-radius: -webkit-calc(6 * var(--unit-length));
  -moz-border-radius: -moz-calc(6 * var(--unit-length));
  border-radius: -webkit-calc(6 * var(--unit-length));
  border-radius: -moz-calc(6 * var(--unit-length));
  border-radius: calc(6 * var(--unit-length));
  background: var(--s-color-bg-dark-5);
  line-height: -webkit-calc(28 * var(--unit-length));
  line-height: -moz-calc(28 * var(--unit-length));
  line-height: calc(28 * var(--unit-length));
  text-align: center;
  z-index: 10;
  font-size: -webkit-calc(24 * var(--unit-length));
  font-size: -moz-calc(24 * var(--unit-length));
  font-size: calc(24 * var(--unit-length));
}
.frame__btn-41e34db8:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.frame__wrapper-41e34db8:hover .frame__btn-41e34db8 {
  display: block;
}
.main-3d2210f3 {
  height: 100%;
  padding: -webkit-calc(12 * var(--unit-length));
  padding: -moz-calc(12 * var(--unit-length));
  padding: calc(12 * var(--unit-length));
  background-color: var(--s-color-bg-dark-3);
}
/*# sourceMappingURL=index_63ba.4a60cf18.css.map */