@use '@/style/tool/mixin' as *;
@use '@/style/tool/function' as *;

/* # base */

/* ## color */
$color: (
  primary: #131417,
  primary-light: #1e1f26,
  primary-light2: #2c303b,
  primary-dark: #74829a,
  primary-dark2: #000000,
  secondary: #c7c9d3,
  secondary-light: #ffffff,
  success: #00f260,
  success-light: #40e0d0,
  info: #0575e6
);

/* ## font-size */
$font-size: (
  large-extra: 36px,
  large: 24px,
  normal: 16px,
  small: 14px,
  small-extra: 12px
);

/* # component */

/* ## text */
$text: (
  color-primary: get-css-var(color, secondary),
  color-secondary: get-css-var(color, secondary-light),
  color-success: get-css-var(color, success),
  bg-color-success: get-css-var(color, success-light)
);

/* ## input */
$input: (
  bg-color: get-css-var(color, primary-light2),
  placeholder-color: get-css-var(color, secondary),
  color: get-css-var(color, secondary-light)
);

/* ## selection */
$selection: (
  color: get-css-var(text, color-primary),
  color--selected: get-css-var(text, color-success),
  bg-color: get-css-var(color, primary-light2),
  bg-color-selected: get-css-var(text, bg-color-success),
  hover-box-shadow-color: get-css-var(color, primary-dark)
);

/* ## showcase */
$showcase: (
  bg-color: get-css-var(color, primary-light),
  title-color: get-css-var(text, color-secondary),
  desc-color: get-css-var(text, color-primary),
  category-bg-color: get-css-var(color, success-light),
  frame-bg-color: get-css-var(color, secondary-light)
);

/* ## detail */
$detail: (
  frame-bg-color: get-css-var(color, secondary-light)
);

/* ## code */
$code: (
  color: get-css-var(text, color-secondary),
  label-bg-color: get-css-var(color, primary-light),
  label-box-shadow-color: get-css-var(color, primary-dark)
);

/* ## footer */
$footer: (
  bg-color: get-css-var(color, primary-dark2),
  color: get-css-var(text, color-primary)
);

/* ## nav */
$nav: (
  bg-color: get-css-var(color, primary-light),
  bg-color-collapsed: get-css-var(color, primary),
  bg-color-collapsed-light: get-css-var(color, primary-light2),
  btn-shadow-color: get-css-var(color, secondary)
);

/* ## main */
$main: (
  bg-color: get-css-var(color, primary)
);

/* # set */
$vars: (
  color: $color,
  font-size: $font-size,
  text: $text,
  footer: $footer,
  nav: $nav,
  main: $main,
  input: $input,
  selection: $selection,
  showcase: $showcase,
  detail: $detail,
  code: $code
);

:root {
  @each $property, $property-value in $vars {
    @each $name, $value in $property-value {
      @include set-css-var($property, $name, $value);
    }
  }
}
