@use '@/style/tool/function' as *;

.selection {
  display: flex;
  gap: 16px;
  height: 36px;
}

.item {
  min-width: 100px;
  border-radius: 4px;
  background-color: get-css-var(selection, bg-color);
  color: get-css-var(selection, color);
  line-height: 36px;
  text-align: center;

  &:hover {
    box-shadow: 0 0 5px 0 get-css-var(selection, hover-box-shadow-color);
    transform: scale(1.05);
  }
}

.item--selected {
  background-color: get-css-var(selection, bg-color-selected);
  color: get-css-var(selection, color-selected);
}
