@use '@/style/tool/function' as *;

/* # showcase */
.showcase {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 16px;
  border-radius: 8px;
  background-color: get-css-var(showcase, bg-color);
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 10px 10px 10px 0 get-css-var(showcase, box-shadow-color);
  }
}

/* # info */
.info {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.info__left {
  flex: 1;
  overflow: hidden;
}

.title {
  overflow: hidden;
  color: get-css-var(showcase, title-color);
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tags {
  overflow: hidden;
  width: fit-content;
  background: linear-gradient(90deg, get-css-var(color, success) 0%, get-css-var(color, success-light) 100%);
  background-clip: text;
  color: transparent;
  font-size: get-css-var(font-size, small);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.desc {
  overflow: hidden;
  color: get-css-var(showcase, desc-color);
  font-size: get-css-var(font-size, small);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.category {
  padding: 4px 10px;
  border-radius: 4px;
  background: get-css-var(showcase, category-bg-color);
  text-align: center;
}

/* # frame */
.frame {
  overflow: hidden;
  height: 100%;
  border-radius: 4px;
  background: get-css-var(showcase, frame-bg-color);
}
