@use '@/style/tool/function' as *;

/* # showcase */
.showcase {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 16px;
  border-radius: 8px;
  background-color: get-css-var(showcase, bg-color);
}

/* # info */
.info {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.info__left {
  flex: 1;
  overflow: hidden;
}

.title {
  overflow: hidden;
  color: get-css-var(showcase, title-color);
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tags {
  overflow: hidden;
  width: fit-content;
  background: linear-gradient(90deg, get-css-var(color, success) 0%, get-css-var(color, success-light) 100%);
  background-clip: text;
  color: transparent;
  font-size: get-css-var(font-size, small);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.desc {
  overflow: hidden;
  color: get-css-var(showcase, desc-color);
  font-size: get-css-var(font-size, small);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.category {
  padding: 4px 10px;
  border-radius: 4px;
  background: get-css-var(showcase, category-bg-color);
  text-align: center;
}

/* # frame */
.frame__wrapper {
  position: relative;
  flex: 1;
  overflow: hidden;
  border-radius: 8px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 80%;
    height: 80%;
    background: linear-gradient(to top right, transparent 50%, rgb(0 0 0 / 50%) 100%);
  }

  &:hover::after {
    display: block;
  }
}

.frame {
  height: 100%;
  background: get-css-var(showcase, frame-bg-color);
}

.frame__btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  display: none;
  width: 24px;
  height: 24px;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.frame__wrapper:hover .frame__btn {
  display: block;
}
