@use '@/style/tool/function' as *;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: get-css-var(scrollbar, track-bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: get-css-var(scrollbar, thumb-bg-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: get-css-var(scrollbar, thumb-bg-color-hover);
}
