@use '@/style/tool/function' as *;

/* # nav */
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* # title */
@keyframes title-bg {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.title {
  margin-block: 36px;
  background: linear-gradient(to right, #00f260 0%, #0575e6 33%, #00f260 66%, #0575e6 100%);
  background-clip: text;
  background-size: 300% 100%;
  color: transparent;
  font-weight: bold;
  font-size: get-css-var(font-size, large);
  text-align: center;
  white-space: nowrap;
  animation: title-bg 4s linear infinite;
}

/* # slogan */

.slogan {
  width: 140px;
  height: 50px;
  /* background-color: get-css-var('color', 'primary-dark2'); */
  background-color: get-css-var('color', 'primary-light2');
  color: get-css-var(text, color-secondary);
  font-size: get-css-var(font-size, small);
}

/* # entry */
.entries {
  margin-top: 20px;
}

.entry {
  height: 36px;
  padding-inline: 20px;
  color: var(--s-color-text-light-1);
  line-height: 36px;

  &:hover {
    background-color: var(--s-color-bg-dark-3);
  }
}
