@use '@/style/tool/function' as *;

/* # nav */
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* # title */
@keyframes title-bg {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.title {
  margin-block: 36px;
  background: linear-gradient(
    to right,
    get-css-var(color, success) 0%,
    get-css-var(color, info) 33%,
    get-css-var(color, success) 66%,
    get-css-var(color, info) 100%
  );
  background-clip: text;
  background-size: 300% 100%;
  color: transparent;
  font-weight: bold;
  font-size: get-css-var(font-size, large);
  text-align: center;
  white-space: nowrap;
  animation: title-bg 4s linear infinite;
}

/* # slogan */
.slogan {
  width: 140px;
  height: 60px;
  border-radius: 4px;
  background-color: get-css-var(color, primary-dark2);
  color: get-css-var(text, color-secondary);
  user-select: none;
}

@keyframes slogan-border {
  from {
    stroke-dashoffset: 0;
    stroke: get-css-var(color, success);
  }

  to {
    stroke-dashoffset: 400;
    stroke: get-css-var(color, info);
  }
}

.slogan__inner {
  animation: slogan-border 2s infinite ease-in-out;
}

/* # entry */
.entries {
  margin-top: 36px;
}

.entry {
  height: 36px;
  padding-inline: 20px;
  border-radius: 5px;
  color: get-css-var(text, color-secondary);
  line-height: 36px;
  text-align: center;

  &:hover {
    box-shadow: 0 0 5px 5px get-css-var(color, primary);
  }
}

.entry--active {
  box-shadow: 0 0 5px 5px get-css-var(color, primary);
}

.entry + .entry {
  margin-top: 5px;
}
