#app {
  display: flex;
}

.container {
  max-width: 80%;
  margin: auto;
}

@keyframes text {
  from {
    background-size: 0% 100%;
  }

  to {
    background-size: 100% 100%;
  }
}

.text {
  background-image: linear-gradient(to right, black 0, black 100%);
  background-clip: text;
  background-repeat: no-repeat;
  color: transparent;
  font-size: 24px;
  line-height: 36px;
  animation: text 10s linear infinite;
}
