@use '@/style/tool/function' as *;

.code {
  color: get-css-var(code, color);
}

.label {
  background-color: get-css-var(code, label-bg-color);
  box-shadow: 0 0 5px 0 get-css-var(code, label-box-shadow-color);
  line-height: 36px;
  text-align: center;
}
