html {
  --s-color-green: #46cf73;
  --s-color-blue: #76daff;
  --s-color-bg-dark-1: #2c303b;
  --s-color-bg-dark-2: #1e1e26;
  --s-color-bg-dark-3: #131418;
  --s-color-bg-dark-4: #010101;
  --s-color-text-light-1: #ffffff;
  --s-color-text-light-2: #c7c9d3;
  --s-color-text-dark: #000000;
}
