.tabs {
  display: flex;
  gap: 2px;
  border-radius: 2px;
}

.tab {
  height: 36px;
  padding-inline: 8px;
  background: var(--s-color-bg-dark-1);
  color: var(--s-color-text-light-1);
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.tab:hover {
  opacity: 0.6;
}

.tab--active {
  background: var(--s-color-text-light-2);
  color: unset;
}
