@use 'sass:math';

/* # wrapper */
#app {
  display: flex;
}

.wrapper {
  width: 100px;
  height: 100px;
  margin: auto;
  transform: rotateY(15deg) rotateX(15deg);
  transform-style: preserve-3d;
}

/* # box */
$step: 5;

@keyframes rotate {
  @for $i from 1 through $step {
    $start: math.div(1, $step) * ($i - 1) * 100%;
    $end: math.div(1, $step) * $i * 100%;

    #{$start} {
      left: ($i - 1) * 100px;
      transform: rotateZ(0);
    }

    #{($end - $start) * 0.88 + $start} {
      transform: rotateZ(90deg);
    }

    #{($end - $start) * 0.92 + $start} {
      transform: rotateZ(88deg);
    }

    #{($end - $start) * 0.95 + $start} {
      transform: rotateZ(90deg);
    }

    #{($end - $start) * 0.999 + $start} {
      left: ($i - 1) * 100px;
      transform: rotateZ(90deg);
    }

    #{$end} {
      left: $i * 100px;
      transform: rotateZ(90deg);
    }
  }
}

.box {
  position: relative;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  transform-origin: 100% 100%;
  animation: rotate #{3 * $step}s infinite cubic-bezier(1, 0.05, 0.98, 1);
  transform-style: preserve-3d;

  li {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 2px solid #000000;
    list-style: none;

    &:nth-child(1) {
      transform: translateZ(50px);
    }

    &:nth-child(2) {
      transform: rotateY(90deg) translateZ(50px);
    }

    &:nth-child(3) {
      transform: rotateY(180deg) translateZ(50px);
    }

    &:nth-child(4) {
      transform: rotateY(270deg) translateZ(50px);
    }

    &:nth-child(5) {
      transform: rotateX(90deg) translateZ(50px);
    }

    &:nth-child(6) {
      transform: rotateX(-90deg) translateZ(50px);
    }
  }
}
