.layout {
  display: grid;
  grid-template-areas: 'nav main' 'nav footer';
  grid-template-rows: 1fr 200px;
  grid-template-columns: 180px 1fr;
  height: 100%;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
