@use '@/style/tool/function' as *;

.input {
  display: flex;
  gap: 16px;
  align-items: center;
  height: 36px;
  padding-inline: 20px;
  border-radius: 4px;
  background-color: get-css-var(input, bg-color);
  line-height: 36px;
}

.input__inner {
  flex: 1;
  color: get-css-var(input, color);
  font-size: get-css-var(font-size, small);

  &::placeholder {
    color: get-css-var(input, placeholder-color);
  }
}

.input__prefix {
  width: 20px;
  height: 20px;
}

.input:has(.input__inner:focus) {
  box-shadow: 0 0 2px 0 get-css-var(input, focus-box-shadow-color);
}
