@use '@/style/tool/function' as *;

/* # layout */
.layout {
  display: grid;
  grid-template-areas: 'nav main' 'nav footer';
  grid-template-rows: 1fr 100px;
  grid-template-columns: 180px 1fr;
  overflow: hidden;
  height: max(100vh, 640px);
  transition: grid-template-columns 1s;
}

.layout--nav-collapsed {
  grid-template-columns: 16px 1fr;
}

/* # main */
.main {
  grid-area: main;
  overflow: hidden;
  background-color: get-css-var(main, bg-color);
}

/* # footer */
.footer {
  grid-area: footer;
  background-color: get-css-var(footer, bg-color);
}

/* # nav */
.nav {
  grid-area: nav;
  background-color: get-css-var(nav, bg-color);
}

@keyframes nav-collapsed-bg {
  100% {
    transform: translateY(-17px);
  }
}

.nav-collapsed {
  background-image: repeating-linear-gradient(
    45deg,
    get-css-var(nav, bg-color-collapsed) 0,
    get-css-var(nav, bg-color-collapsed) 2px,
    get-css-var(nav, bg-color-collapsed-light) 2px,
    get-css-var(nav, bg-color-collapsed-light) 4px
  );
  cursor: pointer;
  transition: opacity 0.6s ease;

  &:hover {
    height: calc(100% + 17px);
    opacity: 0.8;
    animation: nav-collapsed-bg 0.6s infinite linear;
  }
}

.collapse-btn {
  position: absolute;
  top: 48px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition:
    transform 0.5s ease-in 1s,
    box-shadow 0.5s ease-in 1s;
  transform: translateX(180px - 24px);
}

.nav:hover .collapse-btn {
  box-shadow: 0 0 5px 12px get-css-var(nav, btn-shadow-color) inset;
  transition: transform 0.2s;
  transform: translateX(180px + 24px);
}
