@use '@/style/tool/function' as *;

/* # layout */
.layout {
  display: grid;
  grid-template-areas: 'nav main' 'nav footer';
  grid-template-rows: 1fr 100px;
  grid-template-columns: 180px 1fr;
  overflow: hidden;
  height: max(100vh, 640px);
}

.layout--nav-collapsed {
  grid-template-columns: 16px 1fr;
}

/* # main */
.main {
  grid-area: main;
  overflow: auto;
  background-color: get-css-var('main', 'bg-color');
}

/* # footer */
.footer {
  grid-area: footer;
  background-color: get-css-var('footer', 'bg-color');
}

/* # nav */
.nav {
  grid-area: nav;
  background-color: get-css-var('nav', 'bg-color');
}

@keyframes nav-collapsed-bg {
  100% {
    transform: translateY(-17px);
  }
}

.nav-collapsed {
  background-image: repeating-linear-gradient(
    45deg,
    get-css-var('nav', 'bg-color-collapsed') 0,
    get-css-var('nav', 'bg-color-collapsed') 2px,
    get-css-var('nav', 'bg-color-collapsed-light') 2px,
    get-css-var('nav', 'bg-color-collapsed-light') 4px
  );
  cursor: pointer;
  transition: opacity 0.6s ease;

  &:hover {
    height: calc(100% + 17px);
    opacity: 0.8;
    animation: nav-collapsed-bg 0.6s infinite linear;
  }
}

@keyframes show {
  from {
    display: initial;
    transform: translateX(180px - 24px);
  }

  to {
    transform: translateX(180px + 24px);
  }
}

@keyframes hide {
  from {
    transform: translateX(180px + 24px);
  }

  to {
    display: none;
    transform: translateX(180px - 24px);
  }
}

.collapse-btn {
  position: absolute;
  top: 120px;
  width: 24px;
  height: 24px;
  border: 1px red solid;
  animation: hide 0.5s ease-in;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.collapse-btn.collapse-btn.collapse-btn:hover {
  animation-play-state: paused;
}

.nav:hover .collapse-btn {
  animation: show 1s;
  animation-fill-mode: forwards;
}
