$draft-width: 1920;
$draft-height: 980;
$min-font: 14;
$scaling-scale: 0.75;
$min-height: calc($draft-height / $min-font * 12opx);

html {
  --unit-length: calc(1rem / 14);

  min-width: calc($scaling-scale * $draft-width / $draft-height * 100vh);
  font-size: calc($min-font / $draft-height * 100vh);

  @media (max-height: $min-height) {
    min-width: calc($scaling-scale * (1920 / 14 * 12opx));
    font-size: 12opx;
  }

  #app {
    height: 100vh;

    @media (max-height: $min-height) {
      height: $min-height;
    }
  }
}
