.nav {
  height: 100%;
  background: var(--s-color-bg-dark-2);
}

.title {
  padding-block: 20px;
  background: linear-gradient(45deg, #11998e 0%, #38ef7d 100%);
  background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: var(--s-font-size-middle);
  text-align: center;
}

@keyframes border-color {
  0% {
    border-image: linear-gradient(45deg, #667eea 0%, #46cf73 30%, #fedb42 60%, #764ba2 100%) 30;
  }

  50% {
    border-image: linear-gradient(45deg, #fedb42 0%, #764ba2 30%, #667eea 60%, #46cf73 100%) 30;
  }

  100% {
    border-image: linear-gradient(45deg, #667eea 0%, #46cf73 30%, #fedb42 60%, #764ba2 100%) 30;
  }
}

.slogan {
  width: 140px;
  height: 50px;
  margin-inline: auto;
  border: 3px solid transparent;
  border-radius: 20opx;
  border-image: linear-gradient(45deg, #667eea 0%, #46cf73 30%, #fedb42 60%, #764ba2 100%) 30;
  border-image-slice: 20;
  background-color: var(--s-color-bg-dark-4);
  color: var(--s-color-text-light-1);
  line-height: 47px;
  text-align: center;

  &:hover {
    animation: border-color 2s linear infinite;
  }
}

.entry {
  height: 36px;
  padding-inline: 20px;
  color: var(--s-color-text-light-1);
  line-height: 36px;

  &:hover {
    background-color: var(--s-color-bg-dark-3);
  }
}
